<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Ludum Dare</title>

    <link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css' />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="about-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">About the game</h2>
          </div>
          <div class="modal-body">
            <p>Squ was made in 72 hours for the 34th <a href="http://www.ludumdare.com/compo">Ludum Dare</a> game jam (December 2015).</p>

            <h4>Links</h4>
            <ul>
            <li><a href="http://www.ludumdare.com/compo/ludum-dare-30/?action=preview&uid=9172">Ludum Dare entry page</a></li>
            <li><a href="https://bitbucket.org/mkalamalami/ludum-dare-34">Sources on BitBucket</a></li>
            </ul>

            <h4>The Team</h4>
            <ul>
            <li><b>Manu</b>: Lead programming, game design</li>
            <li><b>Wan</b>: Art, audio, programming, game design (<a href="http://twitter.com/mkalamalami">@mkalamalami</a>)</li>
            </ul>

            <h4>Under the hood</h4>
            <p><b>Powered by <a href="http://www.phaser.io">Phaser.js</a>!</b> Other libraries and tools include TilEd, RequireJS, jStorage and Bootstrap. Graphics are made with Adobe Photoshop, music with Propellerhead Reason.</p>

            <h4>Licensing</h4>
            <p>All our assets and code were made during the jam. We have yet to choose a license for them, until then all rights are reserved.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="phaser"></div>
    <div id="phaser-form"></div>
    <div id="about"><input type="button" class="btn" value="About the game..."  data-toggle="modal" data-target="#about-modal" /></div>

    <script type="text/template" id="minigame">
      <div id="help-grow" class="game-panel">
      Press <span class="game-key">&#x21E7;</span> to grow
      </div>
      <div id="help-shrink" class="game-panel">
      Press <span class="game-key">&#x21E9;</span> to shrink
      </div>
      <div id="help-goal" class="game-panel">
      Reach the top to win
      </div>
      <div id="countdown" class="game-message">
      3
      </div>
      <div id="timer" class="game-panel game-panel-top" style="font-size: 25px; padding: 0"></div>
      <div id="victory" class="game-panel game-panel-bottom">
        Congratulations!<br />You win!
        <span class="game-hint">Press <span class="game-key game-key-small">&#x21E7;</span> or <span class="game-key game-key-small">&#x21E9;</span> to continue</span>
      </div>
    </script>

    <script type="text/template" id="menu">
      <div class="game-panel" style="margin-top: 0; margin-left: -430px; margin-top: -30px;">
        <span class="game-key" style="margin-bottom: 20px">&#x21E7;</span> Start new game</span><br />
        <span class="game-key" style="margin-bottom: 20px">&#x21E9;</span> Continue game</span><br />
        <span class="game-key">R</span> Replay intro game</span>
      </div>
      <div class="game-panel" style="margin-top: -30px; margin-left: 100px; width: 330px; font-size: 18px">
        <u>Leaderboards</u><br />
        <table>
        <% if (typeof lboard !== 'undefined') {
          lboard.forEach(function (leader) { %>
          <tr><td style="width: 150px"><%= leader.name %></td><td><%= leader.score %></td></tr>
        <% });
          } else print('Loading...') %>
        </table>
      </div>
    </script>

    <script type="text/template" id="leaderboard">
      <div class="game-panel" style="margin-top: -50px">
        <h2>New high score: <span style="color: red"><%= points %></span>!</h2>

        <p style="font-size: 15px">Enter your name to join to the leaderboard</p>

        Name<br /><input id="name" type="text" style="font-size: 30px; color: red" value="<%= playerName %>" /><br />

        <input id="submit" type="button" value="Submit" style="font-size: 25px" />
        <input id="cancel" type="button" value="No thanks" style="font-size: 25px" />
      </div>
    </script>

    <script type="text/template" id="cutscene">
      <div id="text" class="game-panel" style="margin-top: 190px; font-size: 23px; width: 700px; margin-left: -350px">
      </div>
    </script>

    <script type="text/template" id="character">
        <div id="help-grow" class="game-panel" style="margin-top: -215px; height: 450px">
        <div class="help-character-<%= character.id %>">
          <span class="help-character-name"><%= character.name %></span>
          <div class="help-character-img">
            <img src="img/card<%= character.id %>.png" />
          </div>
          <% if( unlockedCharacters > 0) { %>
            <div class="help-character-btn">
            <%  for (var i=1; i <= unlockedCharacters; i++) { 
                if (i == character.id || !hideOtherKeys) { %>
              <span class="game-key <%= (i != character.id) ? 'game-key-small' : '' %>"><%= keys[i] %></span>
            <%  }} %>
            </div>
            <div class="help-character-help">
              <%= (character.help.action) ? 'Action: '+character.help.action : '' %>
              <%= (character.help.passive) ? 'Passive: '+character.help.passive : '' %>
            </div>
          <% } %>
        </div>
        <% if (hideOtherKeys) { %>
        <div class="game-hint" style="margin-top: 20px">Press <span class="game-key game-key-small"><%= keys[character.id] %></span> to continue.</div>
        <% } else { %>
        <div class="game-hint" style="margin-top: 20px">Press <span class="game-key game-key-small">P</span> or <span class="game-key game-key-small" style="font-size:15px;" >Esc</span> to continue. Press <span class="game-key game-key-small">Q</span> to quit</div>
        <% } %>
      </div>
    </script>

    <script type="text/javascript" src="js/lib/require.min.js" data-main="js/engine/init"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26065046-3', 'auto');
    ga('send', 'pageview');
    </script>

  </body>
</html>